body {
    background-color: #90C7E3;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
}

#wrapper {
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-height: 2048px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px #333333;
}


header {
    background-color: #002171;
    color: #FFFFFF;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav {
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

nav a {
    text-decoration: none;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', serif;
}

h2 {
    color: #1976D2;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', serif;
}

dt {
    color: #002171;
}

ul {
    list-style-image: url(marker.gif);
}

.resort{
    color: #1976D2;
    font-weight: bold;
}

#content {
    font-size: 90%;
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 2em;
}

#homehero {
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}